<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h2> Usando el Objeto Process </h2>
        <br>
        <ol>
            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.argv }}</h4>
            
            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.so }}</h4>

            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.verNode }}</h4>

            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.memoria }}</h4>

            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.pathexec }}</h4>

            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.processId }}</h4>

            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.folder }}</h4>
            
            {{!-- desafío de balance de cargas --}}
            <li class="list-group-item"><h4 class="glyphicon glyphicon-search"> {{ data.numprocess }}</h4>
                
        </ol>

    <button class="btn btn-warning my-5" onclick="location.href='/'"> VOLVER A HOME </button>
    </div>
</div> 